@font-face {
    font-family: "comfortaaRegular";
    src: url("../fonts/comfortaa/Comfortaa-Regular.ttf");
 }

#wrapper {
    margin: 0 auto;
  }
 
 .header1 {
   animation-name: floating;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   margin: auto;
   width: 50%;
   padding: 10px;
   position: relative;
   color: white;
   top: 250px;
   background-color: rgba(0, 0, 0, 0);
 }
 
 @keyframes floating {
     0% { transform: translate(0, 0px); }
     50% { transform: translate(0, 15px); }
     100% { transform: translate(0, -0px); }
 }

body {
	background: linear-gradient(-45deg, #6f52ee, #3c5be7, #b123d5, #c623d5);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.copyright {
    position: fixed;
    left: 0;
    bottom: 5px;
    height: 30px;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px
 }
 
 .page {
     font-family: comfortaaRegular, serif
 }