@font-face {
   font-family: "comfortaaRegular";
   src: url("./assets/fonts/comfortaa/Comfortaa-Regular.ttf");
}

#wrapper {
   margin: 0 auto;
 }

.floating {
   animation-name: floating;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   margin: auto;
   width: 50%;
   padding: 10px;
   top: 50px;
   position: relative
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

body {
	background-color: black;
}

.header1 {
   color: white;
   position: relative;
   top: 100px;
}

.copyright {
   position: fixed;
   left: 0px;
   bottom: 20px;
   height: 30px;
   width: 100%;
   color: white;
   background-color: black;
}

.socials {
   position: fixed;
   left: 0px;
   bottom: 10px;
   height: 20px;
   width: 100%;
   color: white;
   background-color: black;
}

.page {
   background-color:black; 
   font-family: comfortaaRegular
}