.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	position: relative;
    margin:auto;
    z-index:0;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

body {
	background-color: black;
}

.header1 {
   position:fixed;
   left:0px;
   bottom:325px;
   height:30px;
   width:100%;
   color: white;
   background-color: black;
}

.copyright {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   color: white;
   background-color: black;
}
